<footer class="bg-dark text-white py-3 mt-5">
    <div class="container">
      <div class="row">
        <div class="col-md-4 mb-3">
          <h5 class="mb-3">About Me</h5>
          <p>I create beautiful websites with a modern aesthetic.</p>
          <p><a href="/about" class="btn btn-outline-light btn-sm">Read More</a></p>
        </div>
        <div class="col-md-4 mb-3">
          <h5 class="mb-3">Contact Me</h5>
          <p><i class="fas fa-envelope mr-2"></i> brandonjkoehler@icloud.com</p>
        </div>
        <div class="col-md-4 mb-3">
          <h5 class="mb-3">Social Media</h5>
          <p>
            <a class="nav-link btn btn-outline-light btn-sm mr-2" href="https://github.com/z3nrider">GitHub</a>
            <a class="nav-link btn btn-outline-light btn-sm mr-2" href="www.linkedin.com/in/koehler08">LinkedIn</a>
          </p>
        </div>
      </div>
      </div>
    </div>
  </footer>