<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('partials/headMeta') %>
    <title>About</title>
</head>

<body>
    <%- include('partials/header') %>
    <div class="container mt-4">
        <h1>About me</h1>
    </div>
    <div class="container mt-4">
        <p>Resume</p>
    </div>
</body>
</html>