<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('partials/headMeta') %>
    <title>About</title>
</head>

<body>
    <%- include('partials/header') %>
    <div class="container">
        <div class="card mb-3">
            <div class="card-body">
              <h5 class="card-title">About Me</h5>
              <p class="card-text">While my first passion in life was music, I felt a strong desire to help advance technology. Today, my mission is to drive creative expression through building websites that demonstrate my clients' artistry.</p>
              <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
            </div>
          </div>
    </div>
</body>
<footer>
    <%- include('partials/footer') %>
</footer>
</html>