<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('partials/headMeta') %>
    <title>About</title>
</head>

<body>
    <%- include('partials/header') %>
    <div class="container">
        <div class="card aboutCard">
            <div class="card-body">
              <h5 class="card-title">About Me</h5>
              <p class="card-text">
                <div>
                    While my first passion in life was music, I felt a strong desire to help advance technology. Today, my mission is to drive creative expression through building websites that demonstrate my clients' artistry.
                </div>
                <br>
                <div>
                    Throughout my career as a musician, my goals in life gradually shifted to wanting to learn about how to build software. After serving with the US Army from 2014 - 2020, I began my studies at Oregon State University to pursue a Bachelor of Science Degree in Computer Science. I graduated in 2024 after enduring many trials and tribulations.
                </div>
                <br>
                <div>
                    I am currently employed in the public school system in tech support and working on fulfilling my dream to become a successful software engineer.
                </div>
                <br>
              </p>
              <p class="card-text"><small class="text-muted">Last updated 6/8/2024</small></p>
            </div>
          </div>
    </div>
</body>
<footer>
    <%- include('partials/footer') %>
</footer>
</html>