<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('partials/headMeta') %>
  <title>My Portfolio Website</title>

</head>
<body>
  <%- include('partials/header') %>
  <div class="container mt-4">
    <div class="row">
      <div class="col-4"><img class="selfie" src="./public/img/photo.jpg" alt="A photo of Brandon Koehler">
        <div>
          Welcome to My Website
        </div>
      </div>
    </div>
    <table class="table table-hover">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Projects</th>
          <th scope="col">Description</th>
          <th scope="col">Contributors</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row">1</th>
          <td>
            <a class="nav-link" href="https://jammate-6aiy3r5blq-uw.a.run.app/">JamMate</a>
          </td>
          <td>A social media site for musicians to share their creations and thoughts with others</td>
          <td>Brandon Koehler, Jeannette Schaadhardt, Kevin Johnson</td>
        </tr>
        <tr>
          <th scope="row">2</th>
          <td>List your technical skills, such as programming languages, frameworks, and tools you are proficient in.</td>
          <td>Skills 1</td>
          <td>Skills 2</td>
        </tr>
        <tr>
          <th scope="row">3</th>
          <td colspan="2">If you have any testimonials or recommendations from previous clients or employers, include them on your portfolio website.</td>
          <td></td>
          <td></td>
        </tr>
      </tbody>
    </table>
  </div>

  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
</body>
</html>