<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>My Portfolio Website</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
</head>
<body>
  <%- include('partials/header') %>
  <div class="container mt-4">
    <h1>Welcome to My Website</h1>
    <p>This is my portfolio page to demonstrate my web development skills</p>
    <table class="table table-hover">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Projects</th>
          <th scope="col">Skills</th>
          <th scope="col">Testimonials</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row">1</th>
          <td>Include a brief description of each project, the technologies used, and your role in the project</td>
          <td>Example Project 1</td>
          <td>Example Project 2</td>
        </tr>
        <tr>
          <th scope="row">2</th>
          <td>List your technical skills, such as programming languages, frameworks, and tools you are proficient in.</td>
          <td>Skills 1</td>
          <td>Skills 2</td>
        </tr>
        <tr>
          <th scope="row">3</th>
          <td colspan="2">If you have any testimonials or recommendations from previous clients or employers, include them on your portfolio website.</td>
          <td></td>
          <td></td>
        </tr>
      </tbody>
    </table>
  </div>

  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
</body>
</html>