body {
    background-color: black;
    color: white;
}

.selfie {
    max-width: 100px;
    border-radius: 50%;
    border: 1px solid #ddd;
}

.homePhotoHeader {
    justify-content: center;
    margin-bottom: 2em;
}

.contentHeader {
    align-self: center;
    padding-left: 2em;
}

.myTable {
    border: 1px solid white;
}

.column-1 {
    width: 20%;
}

.column-2 {
    width: 30%;
}

.column-3 {
    width: 50%;
}

.aboutCard {
    background-color: black;
    justify-content: center;
    width: 50%;
    margin-top: 2em;
}

input {
    background-color: black;
    border-color: white;
    color: white;
  }

.formButton {
    justify-content: center;
}

.contactCard {
    background-color: black;
    justify-content: center;
    width: 50%;
    margin-top: 2em;
}